extends sidebar_layout

block content 

    h1 #{title}: #{book_instance.book} - #{book_instance.imprint}

    p Do you really want to delete this body copy?

    form(method='POST')
        div.form-group
            input#bookinstanceid.form-control(type='hidden' name='bookinstanceid' value=book_instance._id)
            
        button.btn.btn-danger(type='submit') Delete

