doctype html 
html(lang='en')
    include head.pug 
    body 
        div(class='container-fluid')
            div(class='row')
                div(class='col-12 min-vh-100 d-flex flex-column')
                    block content